@import "modules/mixins";
@import "modules/variables";

@import "base/reset";
@import "base/typography";

@import "component/buttons";
@import "component/animal-card";
@import "component/text";

@import "layout/header";
@import "layout/navigations";

@import "pages/index";
