@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../fonts/Montserrat-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../../fonts/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
  url("../../fonts/Montserrat-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Bold.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../fonts/Montserrat-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../../fonts/Montserrat-Bold.woff") format("woff"), /* Modern Browsers */
  url("../../fonts/Montserrat-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Black.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../fonts/Montserrat-Black.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../../fonts/Montserrat-Black.woff") format("woff"), /* Modern Browsers */
  url("../../fonts/Montserrat-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 900;
  font-style: normal;
}