.animals-item {
  display: inline-block;
  padding: 20px 30px;
  width: 220px;
  background-color: #fff;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  cursor: pointer;

  &:not(:last-child) {
	margin-right: 30px;
  }

  .text {
	display: flex;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;

	img {
	  margin-left: 7px;
	}

	&.dog {
	  color: $orange;
	}

	&.parrot {
	  color: $green;
	}
  }

  > img {
	display: block;
	margin: 10px auto;
  }
}

@media (max-width: 530px) {
  .animals-item {
	width: 185px;

	&:not(:last-child) {
	  margin-right: 10px;
	}
  }
}

@media (max-width: 445px) {
  .animals-item {
	width: 145px;
	padding: 20px 20px;
  }
}